{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport"
			  content="width=device-width,
					   initial-scale=1">
		<link rel="stylesheet"
			  href="/static/bootstrap/css/bootstrap.min.css">
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>
		<title>VT Caching</title>
	</head>
	<body>
		<div class="page-header">
			{% if user.is_authenticated %}
			<p class="top-menu">Hello {{ user.username }}
				<small>
				<a href="/accounts/logout/">Logout</a>
				</small>
				<h1 text-align="right">VT Caching</h1>
			</p>
			{% else %}
			<p class="top-menu">
				Go ahead and 
				<a href="/accounts/login/">Login</a>
				or
				<a href="/newuser">Create a New Account</a> 
			</p>
			{% endif %}
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-primary">
			<a href="/">Home</a>
			</button>
			<button type="button" class="btn btn-primary">
			<a href="/about">About</a>
			</button>
			{% if user.is_authenticated %}
			<button type="button" class="btn btn-primary">
			<a href="/new">New</a>
			</button>
			{% endif %}
		</div>
		<div class="container-fluid">
		{% block content %}
		{% endblock %}
		</div>
	</body>
</html>
