	{% extends 'base.html' %}
		{% block content %}
		<script 
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js">		</script>
		<script>
			$(document).ready(function(){
    			$("button").click(function(){
        			$("#demo").toggle();
    			});
			});
		</script>
		<div class="jumbotron">
		<div class="row">
			<div class="col-sm-4">
				<h2 id="title">{{ listing.title }}</h1>
			</div>
			<div class="col-sm-4">
				<h3 id="description">{{ listing.description }}</h2>
			</div>
			<div class="col-sm-4">
				<h4 id="latitude">Latitude: {{ listing.latitude }} </h2>
			</div>
			<div class="col-sm-4">
				<h4 id="longitude">Longitude: {{ listing.longitude }}</h2>
			</div>
			<div class="col-sm-4">
				<h4 id="dms">DMS: {{ listing.dms }}</h2>
			</div>
			<div class ="col-sm-4">
				<button type="button" class="btn btn-info"
				data-toggle="collapse" data-target="#demo">See hint</button>
				<div id="demo" class="collapse">
				{{ listing.hint }}
				</div>
				</div>
			</div>
			<div class="well well-lg">
				<a href="gpx/{{listing.id}}">Download GPX File</a>
			</div>
		</div>
		</div>
		<div id="user-logs">
			{% if user.is_authenticated %}
			<form method='POST'>
				<input
					name="log_text" 
					id="id_new_log-input" 
					placeholder="Enter a new log"
				/>
				<input type="submit" value="Submit">
				{% csrf_token %}
			</form>
			{% endif %}
			<table class="table table-hover">
				<thead>
				<tr>
					<th>Logs</th>
				</tr>
				</thead>
				<tbody>
				{% for log in logs %}
					<tr>
					<td>{{ log.text }}
					<p>Posted by {{ log.author }}</p>
					</td>
					</tr>
				{% endfor %}
			</tbody>
			</table>
		</div>
		{% endblock %}
