	{% extends 'base.html' %}
		{% block content %}
		<h1 id="title">{{ listing.title }}</h1>
		<h2 id="description">{{ listing.description }}</h2>
		<h2 id="latitude">{{ listing.latitude }} </h2>
		<h2 id="longitude">{{ listing.longitude }}</h2>
		<h3 id="dms">{{ listing.dms }}</h3>
		<div id="user-logs">
			{% if user.is_authenticated %}
			<form method='POST'>
				<input
					name="log_text" 
					id="id_new_log-input" 
					placeholder="Enter a new log"
				/>
				{% csrf_token %}
			</form>
			{% endif %}
			<p id="id_new_log-output">{{ log_text }}</p>
			<ul>
				{% for log in logs %}
					<li>{{ log.text }}</li>
					<p>Posted by {{ log.author }}</p>
				{% endfor %}
			</ul>
		</div>
		{% endblock %}
